<template>
  <require from="./app-content.css"></require>
  <div class="content">
    <div class="section">
      <div class="section-header">Search Field</div>
      <div class="form-group">
        <label htmlFor="inputSearchTerms">Enter Searchterms</label>
        <input type="text" class="form-control" id="inputSearchTerms" placeholder="Enter searchterms" />
      </div>
      <span>${data}</span>
      <button class="btn btn-primary" onClick={this.handleSubmit}>Search</button>
    </div>
  </div>
</template>